<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			        http://www.springframework.org/schema/beans
			        http://www.springframework.org/schema/beans/spring-beans.xsd
			        http://www.springframework.org/schema/context
			        http://www.springframework.org/schema/context/spring-context.xsd
			        http://www.springframework.org/schema/mvc
			        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="controller"></context:component-scan>

	<!-- 扫描SpringMVC注解 -->
	<mvc:annotation-driven conversion-service="myConversionService">
		<mvc:message-converters>
			<!-- 解决json中文乱码 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<!-- 使用fastkjson解决日期格式 -->
			<bean
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json</value>
					</list>
				</property>
				<property name="features">
					<list>
						<!-- Date的日期转换器 -->
						<value>WriteDateUseDateFormat</value>
						<!-- 解决json循环引用 -->
						<value>DisableCircularReferenceDetect</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!--定义一个日期转换类 -->
	<bean id="myConversionService"
		class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="converters.StringToDate">
					<constructor-arg type="java.lang.String" value="yyyy-MM-dd" />
				</bean>
			</list>
		</property>
	</bean>

	<!-- 完成视图的对应 -->
	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 控制文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="5000000" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	<!--静态资源文件的引用(排除location指定路径到Controller的映射) -->
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/admin/img/**" location="/admin/img/" />

</beans> 